# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
backend/stewards_files/map_tiles
backend/stewards_files/boston/tiles
backend/stewards_files/boston/masks_confidence
backend/stewards_files/boston/masks_groundtruth_polygons
backend/stewards_files/boston/masks_tile2net_polygons
backend/stewards_files/boston/outputs